<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="GoalMasterDatabaseContext" connectionString="i81IE0Z73Qr2nVvLDnkDp5pUf3Ji2Gv28eXqOcgGn/hDPAo7jlEasuDmZg+WoHm/x5SjJb+MokAYB4sv6uFnf6+SKAvQIRACk1OzF+SemZdzi5YgZO1AzPAzwlT95utt8KUUGXjlHKRVrV9TV1WCOvR6JLMqKaAiHRCarY/t3bm4owDlFzuD+nfG7Kz4kcSseV2MAerkCsiUPTeUbaUu4iOvUpycJAOJAsxoLMp7vT5PQegkLd7Sqzi4EdneU/lyIioOOWV7ug27umBFtyHbAoqRowR4QxU7uUaH1xvCIuhMdKVvGfPyRUHiOO6BaIzqeCnJGLquFySAhuAzkOy1nA==" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
<!--MultipleActiveResultSets=True-->